<!DOCTYPE html>
<html id="extr-page">
  <head>
    <%= 111 %>
  </head>

  <body class="animated fadeInDown">
    <header id="header">
      <span id="extr-page-header-space">
      <%= yield  %>
      </span>
    </header>

    <div id="main" role="main">
      <!-- ap_main_content -->
      <div id="content" class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-4">
            <div class="text-center">
              <h1>Cirrus / <%= 1234 %></h1>
            </div>

            <div class="well no-padding">
              <%= yield %>
              <!--%= debug(params) if Rails.env.development? %-->
            </div>
                <%= form_for :send,:remote => true, :url =>{:action => :send_email, :controller=>"client"} do |f| %>
			        <div class="form-actions">
			          <div class="row">
			            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			              <%= submit_tag "发送邮件", :id => "button_find", :class => "btn btn-primary"  %>
			            </div>
			          </div>
			        </div>
			    <% end %>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
